In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('monitor_ace0.csv', index_col=0)
df.head()

,cpu_percent,mem_percent,gpu_util_percent,gpu_mem_used_mb
timestamp,,,,
2025-05-04 19:27:53.247868299,0.0285,0.144274,0.00,0.02
2025-05-04 19:28:24.333576441,0.0943,0.298417,0.99,0.40
2025-05-04 19:28:55.408629179,0.0936,0.285770,0.98,0.40
2025-05-04 19:29:26.489167213,0.0948,0.285222,0.99,0.40
2025-05-04 19:29:57.571210146,0.0972,0.285407,0.98,0.40

In [5]:
df.agg(["max", "mean"])

      cpu_percent  mem_percent  gpu_util_percent  gpu_mem_used_mb
max      0.751600     0.321181          0.990000         0.400000
mean     0.102985     0.203415          0.187629         0.191753

In [6]:
import pandas as pd
import os

# --- Prepare your list of dataframes and their names ---
# e.g. you already have df1, df2, df3 in your namespace
df_ace0 = pd.read_csv('monitor_ace0.csv', index_col=0)
df_openmvg = pd.read_csv('monitor_openmvg.csv', index_col=0)
df_colmap = pd.read_csv('monitor_colmap.csv', index_col=0)

dfs = [
    ('ace0', df_ace0),
    ('openmvg', df_openmvg),
    ('colmap', df_colmap),
    # add as many as you like...
]

# Folder & file
output_folder = "results"
output_file   = os.path.join(output_folder, "summary.txt")
os.makedirs(output_folder, exist_ok=True)

# Open once, write all summaries
with open(output_file, "w") as f:
    for name, df in dfs:
        # 1) compute max & mean
        summary = df.agg(["max", "mean"])
        
        # 2) write a header
        f.write(f"=== Summary for {name} ===\n")
        
        # 3) write the table
        f.write(summary.to_string())
        f.write("\n\n")    # blank line between summaries

print(f"All summaries saved to {output_file}")

All summaries saved to results\summary.txt