In [1]:
import pandas as pd

# 1) Read your two “pandas files” into DataFrames
df1 = pd.read_csv('monitor_ace0_0.csv')
df2 = pd.read_csv('monitor_ace0_1.csv')

# 2) Concatenate—this stacks df2 *below* df1
df_all = pd.concat([df1, df2], ignore_index=True)
df_all.head()

,timestamp,cpu_percent,mem_percent,gpu_util_percent,gpu_mem_used_mb
0,2025-05-04 19:27:53.247868299,0.0285,0.144274,0.00,0.02
1,2025-05-04 19:28:24.333576441,0.0943,0.298417,0.99,0.40
2,2025-05-04 19:28:55.408629179,0.0936,0.285770,0.98,0.40
3,2025-05-04 19:29:26.489167213,0.0948,0.285222,0.99,0.40
4,2025-05-04 19:29:57.571210146,0.0972,0.285407,0.98,0.40

In [2]:
df1.shape

(87, 5)

In [3]:
df2.shape

(10, 5)

In [5]:
df_all.shape

(97, 5)

In [6]:
# 3) (Optional) write the combined table back out
df_all.to_csv('monitor_ace0.csv', index=False)